<div class="announcement-widget-item" style="width: 60%; max-width: 800px; margin: 0px; padding: 20px 0px;"><a href="<?php the_permalink(); ?>">
    <h3 class="announcement-title" style="text-align: center; font-weight: 600;"><?php the_title(); ?></h3>
    <h5 class="announcement-date-time" style="display: block; text-align: center;">
        <div class="announcement-date" style="width: 40%; text-align: right; display: inline;"><?php echo $date_label; ?></div>
        <div class="announcement-separator" style="width: 20%; text-align: center; display: inline;"> | </div>
        <div class="announcement-time" style="width: 40%; text-align: left; display: inline;"><?php echo $time_label; ?></div>
    </h5>
    <div class="sa-row" style=" display: flex; padding: 10px;">
        <div class="announcement-image" style="width: 40%; text-align: center; padding: 20px;">
            <img src="<?php echo esc_url($image); ?>" style="width: 100%;" alt="<?php echo esc_attr(get_the_title()); ?>">
        </div>
        <div class="announcement-info" style="width: 60%; text-align: left; padding-left: 10px;">
            <h5>Pembicara: </h5>
            <h4 class="announcement-speaker"><?php echo $speakers_str; ?></p>
            <h5>Lokasi:</h5>
            <h4 class="announcement-location"><?php echo esc_html($location); ?></p>
        </div>
    </div>
</a></div>
