<article class="sam-announcement" style="text-align:center; width: 100%; max-width: 900px; margin: 0 auto; padding: 20px;">

        <header class="sa-header">
            <h2 class="sa-subtitle">{{sub_title}}</h2>
            <h1 class="sa-title">{{title}}</h1>

            <div class="sa-date-time-meta" style="width: 100%; text-align: center;">
                <div class="sa-date" 
                     style="width: 48%; text-align: right; display: inline;">{{start_date}}{{end_date}}</div><div class="sa-date-time-spacer" 
                     style="width: auto; text-align: center; display: inline;">, </div><div class="sa-time" 
                     style="width: 48%; text-align: left; display: inline;">Jam: {{start_time}} - {{end_time}}</div>
            </div>

            <div class="sa-location">
                {{location}}
            </div>
        </header>

        {{#if image}}
            <div class="sa-row">
                <div class="sa-image" style="width: 45%; text-align: center;">
                    <figure><img src="{{image}}" class="sa-image" alt="{{title}}"></figure>
                </div>
                <div class="sa-content" style="width: 55%; text-align: left;;">
                    <section class="sa-content">{{content}}</section>
                </div>
            </div>
        {{else}}
            <section class="sa-content">{{content}}</section>
        {{/if}}


        {{#if speakers}}
        <section class="announcement-speakers">
            <h2>Pembicara</h2>
            {{speakers}}
        </section>
        {{/if}}

        {{#if organizers}}
        <section class="announcement-organizers">
            <h2>Penyelenggara</h2>
            {{organizers}}
        </section>
        {{/if}}

        {{#if prices}}
        <section class="announcement-prices">
            <h2>{{price_label}}</h2>
            {{prices}}
        </section>
        {{/if}}

    </article>